# Collections (the complex data types)

- sets 
- tuples
- lists
- dictionaries 
- combine collections

In [56]:
# set
# no duplicates, no indexed (no order), iterable, collection, mutable (can change)

set1 = {"Ben", "Jason", "Darlene", "Jason", "Erin"}
set_declared = set (("Ben", "Jason", "G", "G", "Darlene"))

print(f" set1 = {set1}")
print(f"set_declared = {set_declared}")

 set1 = {'Ben', 'Jason', 'Darlene', 'Erin'}
set_declared = {'Ben', 'G', 'Jason', 'Darlene'}

In [57]:
# Method to find overlaps 
overlaps = set1.intersection(set_declared)
overlaps

{'Ben', 'Darlene', 'Jason'}

In [58]:
# Method to find the difference between two sets 
diff = set1.difference(set_declared)
diff

{'Erin'}

In [59]:
set1.add("Halle")
set1

{'Ben', 'Darlene', 'Erin', 'Halle', 'Jason'}

In [60]:
# Tuple
# non - mutable, duplicates, iterable, indexed
tuple1 = (1,2,3,4)
tuple_declared = tuple([3,4,5,6])

print(f"tuple1 = {tuple1}")
print(f"tuple_declared = {tuple_declared}")

tuple1 = (1, 2, 3, 4)
tuple_declared = (3, 4, 5, 6)

In [61]:
tuple1 = (1,2,3,4,5) #overwriting not changing
tuple1

(1, 2, 3, 4, 5)

In [62]:
tuple1.count(2) # count occurences of a value

1

In [63]:
tuple1.index(1) # return index value

0

In [64]:
print(f"tuple1 = {tuple1}")
tuple1[0] # return value at index 0

tuple1 = (1, 2, 3, 4, 5)

1

In [65]:
# list
# mutable, duplicates, indexed, iterable
list1 = ["G", "G", "Paola", "Emil"] 
list_declared = list(("G", "G", "Paola", "Emil"))

print(f"list1 = {list1}")
print(f"list_declared = {list_declared}")

list1 = ['G', 'G', 'Paola', 'Emil']
list_declared = ['G', 'G', 'Paola', 'Emil']

In [66]:
# Index notation [:]
print(f"list1 = {list1}")
print(f"first index = {list1[0]}")
print(f"last item in list1 = {list1[-1]}")
print(f"series between 2 & 3 items = {list1[1:3]}") # second item is exclusive
print(f"everything before index 3 = {list1[:3]}")
print(f"everything after the first = {list1[1:]}")

list1 = ['G', 'G', 'Paola', 'Emil']
first index = G
last item in list1 = Emil
series between 2 & 3 items = ['G', 'Paola']
everything before index 3 = ['G', 'G', 'Paola']
everything after the first = ['G', 'Paola', 'Emil']

In [73]:
# list methods
list1.append("Clare") # add to list
list2 = list1.append("Nathan") # append does not return a list
print(f"appended Clare = {list1}")
print(f"created list2 = {list2}")
removed = list1.pop() # remove
print(f"Removed {removed}. New list1 is {list1}")
list1[1] = "J" # change index
print(f"Index 1 of list1 changed. New list1 = {list1}")
combined_list1 = [list1, list_declared] # combine lists as lists
print(f"combined list = {combined_list1}")
combined_lists = [*list1, *list_declared] # combine lists into one list
print(f"combining lists into 1: {combined_lists}")
list1.extend(list_declared) # combine lists into one list
print(f"list1 after extension = {list1}")

appended Clare = ['G', 'J', 'Paola', 'Emil', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Nathan']
created list2 = None
Removed Nathan. New list1 is ['G', 'J', 'Paola', 'Emil', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare']
Index 1 of list1 changed. New list1 = ['G', 'J', 'Paola', 'Emil', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare']
combined list = [['G', 'J', 'Paola', 'Emil', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare'], ['G', 'G', 'Paola', 'Emil']]
combining lists into 1: ['G', 'J', 'Paola', 'Emil', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'G', 'G', 'Paola', 'Emil']
list1 after extension = ['G', 'J', 'Paola', 'Emil', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'Clare', 'G', 'G', 'Paola', 'Emil']

In [ ]:
# dictionary 
# key:value, indexed by key, not ordered, dupilcates values but not keys, mutable
# {key: value, key1: value}
dict1 = {"name": "Emilio", "age": 20}
dict_declared = dict(name="Emilio", age= 20) # we never do this

print(dict_declared)
dict1

{'name': 'Emilio', 'age': 20}

{'name': 'Emilio', 'age': 20}

In [ ]:
dict1["name"] # get values

'Emilio'

In [ ]:
dict1["name"] = "Emilioo" # change value
dict1

{'name': 'Emilioo', 'age': 20}

In [ ]:
dict1.keys()

dict_keys(['name', 'age'])

In [ ]:
dict1.values()

dict_values(['Emilioo', 20])

In [ ]:
students = [ 
     {"name": "G", "age": 18}, 
     {"name": "Stacy", "age": 18}, 
     {"name": "John", "age": 21}]
print()

In [ ]:
students[1] # get second student

{'name': 'Stacy', 'age': 18}

In [ ]:
students.pop()

{'name': 'John', 'age': 21}

In [ ]:
students.append({"name": "Nate", "age": 24})
students

[{'name': 'G', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'Nate', 'age': 24}]

In [ ]:
students[2]["name"] = "Nathan"
students

[{'name': 'G', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'Nathan', 'age': 24}]

In [ ]:
dict1["name"] = "Bozo"

In [ ]:
dict1

{'name': 'Bozo', 'age': 20}